.row.app-brand
.row
  nav.navbar.app-navbar.navbar-default(ng-controller='NavbarCtrl')
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#')
          i.fa.fa-puzzle-piece
        ol.breadcrumb.app-breadcrumb
          li
            a(ui-sref='main.settings')
              img.app-icon(src='https://cloud.githubusercontent.com/assets/1631752/17420467/3279debe-5a79-11e6-80c5-41c31b63f15a.png')
              strong(translate='') integrationName
          li(ng-repeat='stateName in path()', ng-show="$index > 0")
            a(ng-href='{{ getUrl($index) }}', translate='') {{ stateName }}
      ul.nav.navbar-nav.navbar-right.app-menu
        li(ui-sref-active="active")
          a(ui-sref='main.settings')
            span(translate='') settings
