input.form-control {
  box-shadow: none;
  color: #000;
  border: none;
  &.with-border {
    border: 1px solid #ccc;
  }
}

.cancel-link {
  margin-left: 12px;
}

.app-brand {
  background-color: #99B6B9; // COLOR OF BANNER
  background-image: url(../assets/images/integration-logo.png); // HOST IT IN A CDN
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145px;
}

.ng-invalid-editable input {
  @extend .input-error;
}
